
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #313131; 
}

@media (max-width: 768px) {
    .e {
        overflow-x: hidden !important;
    }
}